@use "../utilities/" as *;
@use "../vendors/sass-rem/rem" as *;

//? 元件 icon
.ic {
  --icon-fill-color: var(--color-primary);
  display: inline-block;
  @include size(1em);
  fill: var(--icon-fill-color, currentColor);
}

.ic-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .ic {
    @include size(100%);
  }
}
