@use '../vendors/sass-rem/rem' as *;

//? base title font-size
:root {

  $fontSize: (
    fz-34:rem(34px),
    fz-24:rem(24px),
    fz-20:rem(20px),
    fz-16:rem(16px),
    fz-14:rem(14px),
    fz-13:rem(13px),
    fz-12:rem(12px),
  );

  @each $key, $val in $fontSize {
    --#{$key}: #{$val};
  }

  $fontWeight: (
    fw-700: 700,
    fw-900: 900,
  );

  @each $key, $val in $fontWeight {
    --#{$key}: #{$val};
  }
}
