@use '../vendors/sass-rem/' as rem;

//? 基礎文字設定
$font-size-captions: 10px !default;
$font-size-body1: 14px !default;
$font-size-body2: 16px !default;
$font-size-h6: 20px !default;
$font-size-h5: 24px !default;
$font-size-h4: 32px !default;
$font-size-h3: 38px !default;
$font-size-h2: 48px !default;
$font-size-h1: 62px !default;
