@use "../utilities/" as *;
@use "../vendors/sass-rem/" as rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  height: fill-available;

  // font size clamp設定 min-vw 320px, min-font-size: 16px, max-vw 1200px, max-font-size: 24px
  // font size clamp generator https://reurl.cc/xlKg8Z
  font-size: clamp(1rem, 0.6429rem + 1.1429vw, 1.5rem);
  font-family: var(--font-family-base);
}

body {
  height: var(--doc-height, 100vh);
  min-height: fill-available;

  //? 一些body的設定或圖片
  background: var(--color-bg);
}


//! 配合img objet-fit: contain img-box需要固定的高度或吃父層的高度
.img-box {
  img {
    object-fit: contain;
    object-position: center;
    height: 100%;
  }
}
