@use "../utilities/" as *;
@use "../vendors/sass-rem/" as rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  height: fill-available;
  font-family: var(--font-family-base);
}

body {
  height: var(--doc-height, 100vh);
  min-height: fill-available;
  
  //? 一些body的設定或圖片
  background: var(--color-bg);
}


//? base title font-size
$headTitleArr: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  h5: $font-size-h5,
  h6: $font-size-h6,
);

@each $key,$var in $headTitleArr {
  #{$key} {
    font-size: $var;
  }
}


//! 配合img objet-fit: contain img-box需要固定的高度或吃父層的高度
.img-box {
  img {
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}